<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!-- form card login -->
                <div class="col-12 col-lg-4 p-5 ing-orange-bg white-font">
                    <div class="row  h-100 justify-content-center align-items-center">
                        <h1>Welcome to Our Application </h1>
                    </div>
                </div>
                <div class="col mx-auto">
                    <div class="row  h-100 justify-content-center align-items-center">
                        <div class="col-12 col-lg-6 p-5  min-vh-100 d-flex flex-column justify-content-center">
                            <form class="form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()" *ngIf="toggleLoginReg"
                                role="form" autocomplete="off" id="formLogin">
                                <h2 class="text-center my-5 ">Sign in</h2>
                                <p> <i id="emailHelp" *ngIf="loginvalidation" class="form-text text-danger">Enter valid
                                        user name and
                                        Password</i></p>
                                <div class="form-group">
                                    <label for="uname1">Username<b class="text-danger">*</b></label>
                                    <!-- {{loginForm.controls.username.touched | json}} -->
                                    <!-- {{loginForm.controls.password.invalid | json}} -->
                                    <!-- *ngIf="loginForm?.controls?.username?.touched && loginForm?.controls?.username?.errors?.required" -->
                                    <!-- {{loginForm?.controls?.username?.errors | json}} -->
                                    <input type="text" formControlName="username"
                                        [ngClass]="{'is-invalid': loginForm?.controls?.username?.touched && loginForm?.controls?.username?.invalid}"
                                        class="form-control" name="uname1" id="uname1">
                                    <div class="invalid-feedback">
                                        <span *ngIf="loginForm?.controls?.username?.errors?.required">Oops, you
                                            missed
                                            this one.</span> </div>
                                </div>
                                <div class="form-group">
                                    <label for="pwd1">Password<b class="text-danger">*</b></label>
                                    <input type="password" formControlName="password"
                                        [ngClass]="{'is-invalid': loginForm?.controls?.password?.touched && loginForm?.controls?.password?.invalid}"
                                        class="form-control " id="pwd1" autocomplete="new-password">
                                    <div class="invalid-feedback">
                                        <span *ngIf="loginForm?.controls?.password?.errors?.required">Enter your
                                            password too!</span> </div>
                                </div>
                                <div class="form-group clearfix">
                                    <button [disabled]="loginForm.invalid" class="btn btn-primary btn-block float-right"
                                        id="btnLogin">Sign in <i this.loginSpin=false; class="fa fa-refresh fa-spin"
                                            *ngIf="loginSpin"></i></button>
                                </div>
                                <div class="form-group clearfix">
                                    <p class="btn register"> <i>Don't have an account?
                                            <b><a href="javascript:void(0)" (click)="toggleForm()">Sign
                                                    Up</a></b></i></p>
                                </div>
                            </form>
                            <form class="form" [formGroup]="registerForm" (ngSubmit)="registerFormSubmit()"
                                *ngIf="!toggleLoginReg" role="form" autocomplete="off" id="formLogin">
                                <h2 class="text-center mb-5">Account Registration</h2>
                                <div class="form-row mb-3"> <small><span>Fields marked with <span
                                                class="text-danger">*</span> are compulsary
                                            for Registration</span></small></div>
                                <div class="form-group">
                                    <label for="unamer">UserName<b class="text-danger">*</b></label>
                                    <input type="text" formControlName="username"
                                        [ngClass]="{'is-invalid': registerForm?.controls?.username?.touched && registerForm?.controls?.username?.invalid}"
                                        class="form-control " name="uname1" id="unamer">
                                    <div class="invalid-feedback">
                                        <span *ngIf="registerForm?.controls?.username?.errors?.required">Oops,
                                            you missed this one.</span></div>
                                </div>
                                <div class="form-group">
                                    <label for="passwordr">Password<b class="text-danger">*</b></label>
                                    <input type="password" formControlName="password"
                                        [ngClass]="{'is-invalid': registerForm?.controls?.password?.touched && registerForm?.controls?.password?.invalid}"
                                        class="form-control " id="passwordr" autocomplete="new-password">
                                    <div class="invalid-feedback">
                                        <span *ngIf="registerForm?.controls?.password?.errors?.required">Enter
                                            your password too!</span></div>
                                </div>
                                <div class="form-group">
                                    <label for="mailid">Email Id<b class="text-danger">*</b></label>
                                    <input type="text" formControlName="emailid"
                                        [ngClass]="{'is-invalid': registerForm?.controls?.emailid?.touched && registerForm?.controls?.emailid?.invalid}"
                                        class="form-control " id="mailid" autocomplete="new-password">
                                    <div class="invalid-feedback">
                                        <span *ngIf="registerForm?.controls?.emailid?.errors?.required">
                                            Enter your Email too!</span>
                                        <span *ngIf="registerForm?.controls?.emailid?.errors?.email">
                                            Entered Email is wrong!</span>
                                    </div>
                                </div>
                                <!-- <div class="form-group clearfix">
                                    <button [disabled]="registerForm.invalid"
                                        class="btn btn-primary btn-block float-right" id="btnLogin">Register <i
                                            class="fa fa-refresh fa-spin" *ngIf="registerSpin"></i></button>

                                </div> -->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <button (click)="resetRegiserform()" class="btn btn-primary btn-block"
                                            id="btnLogin">Reset
                                        </button>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <button class="btn btn-info btn-block" (click)="registerFormSubmit()"
                                            [disabled]="registerForm.invalid" id="btnLogin">Register <i
                                                class="fa fa-refresh fa-spin" *ngIf="registerSpin"></i></button>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <p class="btn register"> <i>Got an account?
                                            <b><a href="javascript:void(0)" (click)="toggleForm()">Sign in</a></b></i>
                                    </p>
                                </div>
                                <div class="form-row"></div>

                            </form>
                        </div>

                    </div>


                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->