.nav-item .nav-link {
  color: #000;
}
/* .nav-item.active .nav-link {
  border-bottom: 2px solid #f60;
} */

.secoundary-bar a.nav-link {
  color: #fff;
  padding: 0 1rem;
}
.navbar {
  border-bottom: 3px solid #343a40;
}
@media screen and (max-width: 990px) {
  .navbar-nav {
    border-top: 1px solid #eaeaea;
    margin-top: 4px;
  }
  .navbar-nav li {
    border-bottom: 1px solid #eaeaea;
  }
}
